@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

body {
  position: relative;
}

body.lock {
  overflow: hidden;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 294px;
  height: 50px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 22px;
  background-color: #E22F22;
}

.header__up {
  background: #efefef;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.links__koleso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 17px;
  color: #E22F22;
}

.links__koleso img {
  margin-right: 3px;
}

.links__auto {
  font-size: 13px;
  line-height: 17px;
  color: rgba(85, 85, 85, 0.69);
}

.links__auto:nth-child(2) {
  margin: 0 60px;
}

.links__actions {
  font-size: 13px;
  line-height: 17px;
  color: rgba(85, 85, 85, 0.69);
}

.nav {
  margin: 22px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
}

.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__tires {
  margin-left: 37px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__tires span {
  margin-left: 3px;
  background: #4628A5;
  border-radius: 10px;
  color: white;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 0 5px;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  margin-left: 47px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.nav__btn {
  margin-left: 41px;
  font-size: 16px;
  width: 171px;
  height: 40px;
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background: #F9F9F9;
}

.menu__up {
  height: 44px;
  background: #efefef;
}

.menu__menu {
  background: #fff;
}

.menu.active {
  top: 0px;
  visibility: visible;
  opacity: 1;
  z-index: 7777;
  position: relative;
}

@media (max-width: 1200px) {
  .header__links {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__mob {
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #EFEFEF;
    position: relative;
  }
  .hamburger {
    display: block;
    width: 20px;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #383838;
    margin-bottom: 4px;
  }
  .nav__tires_mini {
    margin-left: 0;
  }
  .container__h_m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__close {
    cursor: pointer;
  }
  .menu__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__menu span {
    background: #F0F0F0;
    width: 100%;
    height: 1px;
  }
  .menu__menu .nav__btn {
    margin: 17px 0 17px 10px;
    width: 260px;
    height: 48px;
  }
  .menu__link {
    display: block;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin: 14px 0 14px 10px;
  }
  .links_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 0;
  }
  .links_mob span {
    border: 1px solid #F0F0F0;
    width: 100%;
    height: 1px;
  }
  .links_mob a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 13px 0 13px 10px;
  }
  .links_mob img {
    margin-right: 5px;
  }
}

@media (min-width: 1201px) {
  .header__mob {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .menu.active {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .nav__link:hover {
    color: #E22F22;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .nav__tires:hover {
    color: #E22F22;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .links__auto:hover, .links__actions:hover {
    color: #E22F22;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
}

@media (max-width: 576px) {
  .nav__tires2 {
    display: none;
  }
  .nav__tires3 {
    display: block;
    text-align: center;
    margin: 10px 0 10px;
  }
}

@media (min-width: 577px) {
  .nav__tires3 {
    display: none;
  }
}

.main {
  background: url("../img/main-bg.jpg") no-repeat center center/cover;
  min-height: 550px;
}

.main__text {
  padding-top: 87px;
}

.main__title {
  font-size: 40px;
  line-height: 56px;
}

.main__descr {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #383838;
  max-width: 556px;
}

.main__btn {
  margin-top: 50px;
  width: 235px;
  height: 50px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .main {
    background: url(../img/main-bg-plans.jpg) no-repeat center center/cover;
    min-height: 470px;
  }
  .main__text {
    padding-top: 96px;
    padding-bottom: 50px;
  }
  .main__title {
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
  }
  .main__descr {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    max-width: 295px;
  }
  .main__btn {
    margin-top: 20px;
    width: 240px;
    height: 44px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;
    text-transform: none;
  }
}

@media (max-width: 767px) {
  .main__text {
    padding-top: 155px;
  }
}

@media (min-width: 577px) {
  .main__text_mob {
    display: none;
  }
}

@media (max-width: 576px) {
  .main {
    background: url(../img/main-bg-plans.jpg) no-repeat right 0/cover;
    min-height: 210px;
  }
  .main__text {
    display: none;
  }
  .main__text_mob {
    display: block;
  }
  .main__title_mob {
    margin-top: 14px;
    font-size: 20px;
    line-height: 30px;
  }
  .main__descr_mob {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #383838;
  }
  .main__btn_mob {
    margin: 20px auto;
    width: 261px;
    height: 48px;
  }
}

.benefit {
  margin: 67px 0px 72px;
}

.benefit__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.benefit__block {
  max-width: 245px;
  text-align: center;
}

.benefit__title {
  margin-top: 25px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.benefit__descr {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #383838;
}

@media (max-width: 992px) {
  .benefit {
    margin: 50px auto;
  }
  .benefit__blocks {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .benefit__block {
    max-width: 222px;
  }
  .benefit__img img {
    width: 60px;
    height: 64px;
  }
  .benefit__title {
    margin-top: 10px;
    font-size: 18px;
    line-height: 27px;
  }
  .benefit__descr {
    margin-top: 6px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .benefit {
    margin-top: 20px;
  }
  .benefit__blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefit__block {
    margin: 30px 12px 0;
  }
}

.registr {
  padding: 53px 0 78px;
  background: #312066;
  color: white;
  position: relative;
}

.registr__title {
  font-size: 34px;
  line-height: 52px;
  max-width: 604px;
}

.registr__points {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 548px;
}

.registr__points::before {
  position: absolute;
  content: "";
  display: block;
  z-index: 2;
  background-color: #fff;
  width: 1px;
  height: 193px;
  top: 50px;
  left: 19px;
}

.registr__number {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 40px;
  min-height: 40px;
  background: white;
  color: #4628A5;
  border-radius: 100%;
  position: relative;
  z-index: 333;
}

.registr__point {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registr__btn {
  margin: 52px 0 0 60px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.registr__text {
  margin-left: 19px;
  font-size: 16px;
  line-height: 26px;
}

.registr__text a {
  color: #fff;
  text-decoration: underline;
}

.registr__img {
  width: 643px;
  height: 643px;
  position: absolute;
  z-index: 2222;
  right: 31px;
  top: -30px;
}

@media (max-width: 1200px) {
  .registr__img {
    right: 0;
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 992px) {
  .registr__title {
    font-size: 26px;
    line-height: 36px;
    max-width: 420px;
  }
  .registr__points {
    max-width: 420px;
  }
  .registr__points::before {
    height: 180px;
  }
  .registr__text {
    font-size: 14px;
    line-height: 20px;
  }
  .registr__btn {
    margin-top: 40px;
    width: 240px;
    height: 44px;
    letter-spacing: normal;
    text-transform: none;
    font-size: 16px;
    line-height: 20px;
  }
  .registr__img {
    width: 420px;
    height: 420px;
    top: 44px;
  }
}

@media (max-width: 767px) {
  .registr {
    padding-bottom: 144px;
  }
  .registr__points {
    max-width: none;
  }
  .registr__img {
    top: auto;
    right: auto;
    width: 320px;
    height: 145px;
  }
}

@media (max-width: 576px) {
  .registr {
    padding-top: 24px;
  }
  .registr__title {
    margin: 0 auto;
    max-width: 296px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
  .registr__point {
    margin-top: 24px;
  }
  .registr__points::before {
    height: 140px;
  }
  .registr__text {
    margin-left: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  .registr__number {
    width: 30px;
    height: 30px;
  }
  .registr__btn {
    margin: 24px auto 6px;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
  }
  .registr__img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 376px) {
  .registr__points::before {
    height: 165px;
  }
}

.causes {
  margin-top: 90px;
}

.causes__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.causes__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.causes__rigth {
  width: 360px;
}

.causes__rigth_t {
  margin-top: 63px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.causes__rigth_subt {
  margin-top: 20px;
  font-size: 16px;
  line-height: 32px;
  color: #383838;
}

.form {
  margin-top: 14px;
}

.form__input input {
  margin-bottom: 20px;
  background: #f3f4fd;
  width: 360px;
  height: 40px;
  padding-left: 12px;
  border: 1px solid #e5e9fe;
  border-radius: 6px;
}

.form__textarea textarea {
  background: #f3f4fd;
  width: 360px;
  height: 120px;
  resize: none;
  padding: 11px 0 0 12px;
  border: 1px solid #e5e9fe;
  border-radius: 6px;
}

.form__policy {
  position: relative;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__policy input {
  z-index: -1;
  opacity: 0;
  width: 16px;
  height: 16px;
}

.form__policy .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__policy .custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.form__policy .custom-checkbox + label::before {
  content: '';
  position: relative;
  z-index: 4;
  display: inline-block;
  width: 18px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border-radius: 2px;
  border: 1px solid #adb5bd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}

.form__policy .custom-checkbox:checked + label::before {
  border-color: #E22F22;
  background-color: #E22F22;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.form__policy span {
  margin-left: 6px;
  font-size: 13px;
  line-height: 16px;
  color: #383838;
}

.form__policy span a {
  position: relative;
  z-index: 4;
  font-size: 13px;
  line-height: 16px;
  color: #E22F22;
}

.form__btn {
  position: relative;
  z-index: 4;
  margin-top: 41px;
  width: 181px;
  height: 40px;
}

.cause {
  position: relative;
  margin: 60px 0px 0 95px;
}

.cause__cause {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: -96px;
  padding: 9px 0 13px 13px;
  background: rgba(255, 255, 255, 0.92);
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 235px;
}

.cause__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cause span {
  margin-right: 7px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #6438c6;
  border-radius: 100%;
}

.cause__two {
  left: auto;
  right: -97px;
}

.cause__two span {
  background: #2e44ec;
}

.cause__three {
  width: 177px;
  left: auto;
  right: -97px;
  top: 228px;
}

.cause__three span {
  background: #9020d9;
}

.cause__four {
  top: auto;
  bottom: -19px;
  left: 52%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cause__four span {
  background: #cf197b;
}

.cause__five {
  width: 177px;
  top: 228px;
}

.cause__five span {
  background: #9d28b6;
}

.cause__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.cause__text {
  font-size: 14px;
  line-height: 22px;
  color: #383838;
}

.cause__mob {
  display: none;
}

@media (max-width: 1200px) {
  .causes__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .causes__rigth {
    width: 100%;
  }
  .causes__rigth_t {
    text-align: center;
  }
  .causes__rigth_subt {
    text-align: center;
  }
  .cause {
    display: none;
  }
  .cause__mob {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 5px 5px 30px 5px;
  }
  .mob__b {
    min-width: 219px;
    min-height: 220px;
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 12px 0 0 12px;
    margin-right: 12px;
  }
  .mob__b:last-child {
    margin-right: 0;
  }
  .mob__up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mob__title {
    margin-left: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
  }
  .mob__text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #383838;
  }
  .form {
    text-align: center;
  }
  .form__policy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__btn {
    margin: 41px auto;
    font-size: 16px;
    line-height: 20px;
    width: 40%;
  }
  .form__input input {
    font-size: 16px;
    line-height: 19px;
    color: #6775ba;
    width: 50%;
  }
  .form__textarea textarea {
    font-size: 16px;
    line-height: 19px;
    color: #6775ba;
    width: 50%;
  }
}

@media (max-width: 992px) {
  .causes {
    margin-top: 50px;
  }
  .causes__title {
    font-size: 30px;
    line-height: 40px;
  }
  .causes__rigth_t {
    margin-top: 60px;
    font-size: 18px;
    line-height: 27px;
  }
  .causes__rigth_subt {
    font-size: 14px;
    line-height: 24px;
    color: #383838;
  }
}

@media (max-width: 767px) {
  .form__input input {
    width: 70%;
  }
  .form__textarea textarea {
    width: 70%;
  }
  .form__btn {
    width: 260px;
    height: 48px;
  }
}

@media (max-width: 576px) {
  .causes__rigth_t {
    margin-top: 41px;
    text-align: left;
  }
  .causes__rigth_subt {
    text-align: left;
  }
  .form {
    text-align: left;
  }
  .form__input input {
    width: 100%;
  }
  .form__textarea textarea {
    width: 100%;
  }
  .form__policy {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 5px;
    position: relative;
    z-index: 4;
  }
  .form__btn {
    margin-top: 30px;
  }
}

.manager {
  margin-top: 161px;
}

.manager__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f3f4fd;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
}

.manager__img {
  padding-left: 47px;
}

.manager__img img {
  position: absolute;
  bottom: 0;
}

.manager__right {
  padding-right: 86px;
}

.manager__title {
  margin-top: 40px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.manager__list {
  margin-top: 10px;
  padding-left: 25px;
}

.manager__list-item {
  list-style: disc;
  font-size: 16px;
  line-height: 32px;
  color: #383838;
}

.manager__btn {
  margin-top: 30px;
  width: 181px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 33px;
}

@media (max-width: 1200px) {
  .manager {
    margin-top: 68px;
  }
  .manager__img {
    padding-left: 0;
  }
  .manager__img img {
    left: -40px;
    width: 360px;
  }
  .manager__right {
    padding-right: 0px;
    padding-left: 20px;
    width: 60%;
  }
  .manager__btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .manager__right {
    padding-right: 29px;
    width: auto;
  }
  .manager__title {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }
  .manager__img img {
    left: -30px;
  }
  .manager__list-item {
    font-size: 14px;
    line-height: 24px;
  }
  .manager__btn {
    margin: 25px 0 30px;
    width: 240px;
    height: 44px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .manager {
    margin-top: 150px;
  }
  .manager__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .manager__right {
    z-index: 3;
    background: #f3f4fd;
    padding-left: 20px;
  }
  .manager__img img {
    bottom: auto;
    top: -285px;
    left: 0px;
    z-index: 2;
  }
  .manager__btn {
    margin: 30px auto 30px;
    font-size: 16px;
    line-height: 20px;
    width: 260px;
    height: 48px;
  }
}

@media (max-width: 576px) {
  .manager {
    background: #f3f4fd;
  }
  .manager__right {
    padding: 0;
  }
  .manager__img img {
    left: -35px;
  }
}

@media (max-width: 376px) {
  .manager {
    margin-top: 125px;
  }
  .manager__img img {
    max-width: 300px;
    left: -30px;
    top: -230px;
  }
}

.map {
  margin-top: 30px;
}

.map__block {
  background: linear-gradient(279.13deg, #f9edec -0.93%, #f3f4fd 65.94%);
  border: 1px solid #f0f0f0;
  border-radius: 6px;
}

.map__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map__left {
  padding-left: 50px;
}

.map__title {
  padding-top: 39px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.map__btn {
  margin-top: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4628A5;
  width: 196px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #4628A5;
  border-radius: 6px;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.map__btn_close {
  display: none;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.map__input {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__input input {
  cursor: pointer;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.map__input label {
  cursor: pointer;
  margin-right: 35px;
  font-size: 18px;
  line-height: 30px;
  color: #383838;
}

.map__msk {
  display: none;
  margin: 26px auto 42px;
  padding: 0 50px;
}

.map__msk ymaps {
  margin: auto;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.map__spb {
  display: none;
  margin: 26px auto 42px;
  padding: 0 50px;
}

.map__spb ymaps {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  margin: auto;
}

@media (max-width: 1200px) {
  .map__left {
    padding-left: 23px;
  }
  .map__input {
    padding-left: 23px;
  }
  .map__title {
    padding-top: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
  }
  .map__msk {
    padding: 0 23px;
  }
  .map__spb {
    padding: 0 23px;
  }
}

@media (max-width: 767px) {
  .map__title {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
  .map__btn {
    margin: 35px 0 22px;
    width: 180px;
    height: 38px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 576px) {
  .map {
    background: linear-gradient(279.13deg, #f9edec -0.93%, #f3f4fd 65.94%);
  }
  .map__left {
    padding-left: 0;
  }
  .map__input {
    padding-left: 0;
  }
  .map__input input {
    width: 16px;
    height: 16px;
  }
  .map__input label {
    font-size: 14px;
    line-height: 25px;
  }
  .map__msk {
    padding: 0;
  }
  .map__spb {
    padding: 0;
  }
}

/* для элемента input c type="radio" */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #4628A5;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
}

.custom-radio:checked + label::before {
  border-color: #4628A5;
  background-color: #fff;
  background-image: url('data:image/svg+xml,%3Csvg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle cx="5" cy="5.5" r="5" fill="%234628A5"/%3E%3C/svg%3E%0A');
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

.tarif__block {
  margin-top: 95px;
}

.tarif__title {
  font-size: 34px;
  line-height: 50px;
  text-align: center;
}

.tarif__blocks {
  margin-top: 76px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 375px 750px;
      grid-template-columns: 375px 750px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.tires {
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  padding: 40px 0 59px 50px;
}

.tires__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.tires__descr {
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  max-width: 293px;
}

.tires__subtitle {
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

.tires__link {
  margin-top: 73px;
  width: 209px;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 22px;
  background-color: #E22F22;
}

.tires__link2 {
  display: none;
}

.tarifs {
  display: -ms-grid;
  display: grid;
  row-gap: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.tarifs__seasons {
  padding: 14px 0 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.tarifs__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tarifs__img {
  margin-right: 5px;
}

.tarifs__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.tarifs__right {
  padding: 0 40px 15px 0;
  width: 408px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.tarifs__list-item {
  list-style: disc;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
}

@media (max-width: 1200px) {
  .tarif__blocks {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarif__block {
    margin-top: 50px;
  }
  .tarif__right {
    margin-top: 25px;
  }
  .tires {
    padding: 0;
    background: #fff;
    border: none;
    text-align: center;
  }
  .tires__descr {
    max-width: none;
  }
  .tires__link {
    display: none;
  }
  .tires__link2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px auto 50px;
    width: 240px;
    height: 44px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }
  .tires__subtitle {
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  .tarif__title {
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
  }
  .tires__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
  }
  .tires__descr {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #383838;
  }
  .tires__subtitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .tarif__block {
    margin-top: 30px;
  }
  .tarifs__seasons {
    position: relative;
    cursor: pointer;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ffffff;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .tarifs__seasons::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #4628A5;
    border-radius: 6px 0px 0px 6px;
  }
  .tarifs__left {
    padding: 18px 20px;
  }
  .tarifs__left::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 23px;
    height: 13px;
    background: url("../img/arrow-down.svg") no-repeat center center/cover;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .tarifs__right {
    padding: 0;
    width: auto;
    display: block;
    height: 0;
    overflow: hidden;
    -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
  }
  .tarifs__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
  .tarifs__title span {
    display: none;
  }
  .tarifs__seasons.active .tarifs__seasons::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 20px;
  }
  .tarifs__seasons.active .tarifs__left::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 20px;
  }
  .tarifs__seasons.active .tarifs__right {
    display: block;
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    height: auto;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
    padding: 10px 41px 30px;
    color: #4628A5;
    font-size: 18px;
    line-height: 22px;
  }
  .tarifs__seasons {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .tarifs__list-item {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@media (max-width: 576px) {
  .tarif__title {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
  }
  .tires__title {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
  }
  .tires__descr {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #383838;
  }
  .tires__subtitle {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }
  .tires__link2 {
    width: 260px;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
  }
  .tarifs {
    row-gap: 12px;
  }
}

.slider {
  margin-top: 103px;
  background-color: #312066;
  color: white;
}

.slider__container {
  padding: 31px 100px 72px;
}

.slider__title {
  font-size: 34px;
  line-height: 50px;
  text-align: center;
}

.slider__subtitle {
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.slider__up {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider__right {
  margin-left: 30px;
}

.slider__name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.slider__about {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #b0a6cf;
}

.slider__auto {
  margin-top: 18px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

.slider__tarif {
  font-size: 14px;
  line-height: 22px;
}

.slider__tarif span {
  margin-left: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

.slider__model {
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #b0a6cf;
}

.slider__down {
  margin-top: 20px;
}

.slider__open {
  cursor: pointer;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid white;
  border-radius: 6px;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
}

.slider__close {
  cursor: pointer;
  margin-top: 30px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid white;
  border-radius: 6px;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
}

.slider__thesis {
  font-size: 16px;
  line-height: 26px;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
}

.slider__text {
  display: none;
  font-size: 16px;
  line-height: 26px;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
}

.slider__prev, .slider__next {
  position: absolute;
  top: 270px;
  left: 0px;
  border: none;
  background-color: #312066;
}

.slider__next {
  right: 0px;
  left: auto;
}

.slider__mob {
  display: none;
}

.tns-outer {
  position: relative;
}

.tns-nav {
  position: absolute;
  bottom: 36px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.tns-nav button {
  padding: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: transparent;
  margin: 0 8px;
}

.tns-nav .tns-nav-active {
  background-color: #fff;
}

.tns-ovh {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .slider__prev, .slider__next {
    top: 300px;
  }
}

@media (max-width: 992px) {
  .slider {
    margin-top: 50px;
  }
  .slider__container {
    padding: 31px 80px 72px;
  }
  .slider__title {
    font-size: 26px;
    line-height: 30px;
  }
  .slider__subtitle {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .slider__up {
    margin-top: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider__img img {
    width: 70px;
    height: 70px;
  }
  .slider__right {
    margin-left: 13px;
  }
  .slider__auto, .slider__tarif, .slider__model {
    display: none;
  }
  .slider__name {
    font-size: 16px;
    line-height: 28px;
  }
  .slider__about {
    margin-top: 2px;
    font-size: 14px;
    line-height: 20px;
  }
  .slider__prev, .slider__next {
    top: 175px;
  }
  .slider__prev img, .slider__next img {
    height: 24px;
  }
  .slider__mob {
    margin-top: 27px;
    display: block;
  }
  .slider__auto_m {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
  }
  .slider__tarif_m {
    font-size: 14px;
    line-height: 22px;
  }
  .slider__tarif_m span {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
  }
  .slider__model_m {
    margin-top: 2px;
    font-size: 12px;
    line-height: 20px;
    color: #b0a6cf;
  }
  .slider__down {
    margin-top: 10px;
  }
  .slider__thesis, .slider__text {
    font-size: 14px;
    line-height: 24px;
  }
  .slider__open, .slider__close {
    width: 140px;
    height: 38px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .slider__container {
    padding: 24px 44px 30px;
  }
  .slider__title {
    font-size: 18px;
    line-height: 27px;
  }
  .slider__subtitle {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
  }
  .slider__about {
    font-size: 12px;
  }
  .slider__mob {
    margin-top: 10px;
  }
  .slider__tarif_m {
    margin-top: 11px;
    max-width: 195px;
  }
  .slider__open, .slider__close {
    width: 110px;
  }
  .tns-nav {
    display: none;
  }
}

@media (max-width: 576px) {
  .slider__subtitle {
    margin: 20px auto 0;
    max-width: 300px;
  }
  .slider__prev {
    left: 15px;
    top: 220px;
  }
  .slider__next {
    right: 15px;
    top: 220px;
  }
  .slider__container {
    padding: 44px 5px 30px;
  }
  .slider__up, .slider__mob, .slider__down {
    padding: 0 25px 0;
  }
}

.questions__block {
  margin: 90px auto 0;
}

.questions__title {
  font-size: 34px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.questions__list {
  margin-top: 47px;
}

.questions__list-item {
  position: relative;
  margin-bottom: 15px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  cursor: pointer;
}

.questions__list-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #4628A5;
  border-radius: 6px 0px 0px 6px;
}

.questions__subtitle {
  padding: 0px 41px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 26px;
  color: #383833;
}

.questions__subtitle::after {
  content: "";
  display: block;
  position: absolute;
  right: 30px;
  top: 35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 23px;
  height: 13px;
  background: url("../img/arrow-down.svg") no-repeat center center/cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.questions__text {
  display: block;
  height: 0;
  overflow: hidden;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.questions__link {
  margin: 50px auto 0;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.questions__list-item.active .questions__subtitle:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 30px;
}

.questions__list-item.active .questions__text {
  display: block;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  height: auto;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  padding: 10px 41px 30px;
  color: #4628A5;
  font-size: 18px;
  line-height: 22px;
}

.questions__list-item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 992px) {
  .questions__block {
    margin-top: 50px;
  }
  .questions__title {
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
  }
  .questions__subtitle {
    padding-left: 20px;
    font-size: 16px;
  }
  .questions__subtitle::after {
    right: 20px;
  }
  .questions__link {
    margin-top: 30px;
    width: 240px;
    height: 44px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: normal;
    text-transform: none;
  }
  .questions__list-item.active .questions__text {
    font-size: 16px;
    padding-left: 20px;
  }
}

@media (max-width: 576px) {
  .questions__title {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
  }
  .questions__subtitle {
    height: 118px;
    padding-right: 50px;
  }
  .questions__subtitle::after {
    top: 56px;
  }
  .questions__list-item.active .questions__subtitle:after {
    top: 56px;
  }
  .questions__list-item.active .questions__text {
    padding: 0px 20px 15px;
  }
}

.footer {
  margin-top: 84px;
  background-color: #f9f9f9;
}

.footer__blocks {
  padding: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 700px 300px;
      grid-template-columns: 700px 300px;
  justify-content: space-between;
}

.footer__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 51px;
  font-size: 13px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #555555;
}

.footer__info img {
  margin-right: 3px;
}

.footer__copyright {
  margin-top: 14px;
  font-size: 13px;
  line-height: 20px;
  color: #979797;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__foot {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__review_text {
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  color: #383838;
}

.footer__review_link {
  display: block;
  margin-top: 8px;
  font-size: 13px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #555555;
}

.footer__review_mob {
  display: none;
}

.footer__mob {
  display: none;
}

@media (max-width: 1200px) {
  .footer__blocks {
    -ms-grid-columns: 650px 280px;
        grid-template-columns: 650px 280px;
  }
}

@media (max-width: 992px) {
  .footer {
    margin-top: 50px;
  }
  .footer__blocks {
    padding: 20px 0 25px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 130px;
  }
  .footer__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }
  .footer__info {
    margin-top: 36px;
  }
  .footer__foot {
    margin-top: 30px;
  }
  .footer__img {
    width: 113px;
    height: 69px;
  }
}

@media (max-width: 767px) {
  .footer__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer__title {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
  .footer__info, .footer__copyright, .footer__review {
    display: none;
  }
  .footer__foot {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__review_mob {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__mob {
    display: block;
  }
  .footer__mob_i {
    font-size: 13px;
    line-height: 17px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #555555;
  }
  .footer__mob_c {
    margin-top: 6px;
    font-size: 12px;
    line-height: 18px;
    color: #979797;
  }
  .footer__img {
    margin-left: 20px;
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: #e5e5e5;
  z-index: 55555555555555;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 494px;
  background: #ffffff;
  border-radius: 6px;
  padding: 40px 0px 40px 40px;
  border: 1px solid #312066;
}

.modal__close {
  position: absolute;
  top: 21px;
  right: 21px;
  cursor: pointer;
}

.modal__title {
  font-size: 34px;
  line-height: 50px;
}

.modal__subtitle {
  padding-left: 6px;
  margin: 29px 0 14px;
  font-size: 16px;
  line-height: 32px;
  color: #383838;
}

.modal__btn {
  margin-top: 14px;
  width: 180px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
}

.form__input2 input {
  width: 360px;
}

.modal2 {
  display: none;
  padding: 20px;
  border: 1px solid #312066;
}

.modal2__subtitle {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.modal2__close {
  top: 5px;
  right: 5px;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 576px) {
  .modal {
    padding: 10px 10px 10px 10px;
    width: 90%;
    max-width: 450px;
  }
  .modal__title {
    margin-top: 5px;
    font-size: 22px;
    line-height: 35px;
  }
  .modal__subtitle {
    margin-top: 14px;
  }
  .modal__close {
    top: 5px;
    right: 5px;
  }
  .form__input2 input {
    width: 100%;
  }
  .modal2__subtitle {
    margin-top: 7px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
