.header {
	// margin: 22px auto;
	&__up {
		background: #efefef;
	}
}


.links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	&__koleso {
		display: flex;
		align-items: center;
		font-size: 13px;
		line-height: 17px;
		color: $second-color;
		img {
			margin-right: 3px;
		}
	}
	&__auto {
		font-size: 13px;
		line-height: 17px;
		color: rgba(85, 85, 85, 0.69);
		&:nth-child(2) {
			margin: 0 60px;
		}
	}
	&__actions {
		font-size: 13px;
		line-height: 17px;
		color: rgba(85, 85, 85, 0.69);
	}
}

.nav {
	margin: 22px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	&__left {
		display: flex;
		align-items: center;
	}
	&__tires {
		margin-left: 37px;
		font-weight: bold;
		font-size: 16px;
		line-height: 21px;
		color: #000000;
		display: flex;
		align-items: center;
		span {
			margin-left: 3px;
			background: $third-color;
			border-radius: 10px;
			color: white;
			font-weight: normal;
			font-size: 12px;
			line-height: 16px;
			padding: 0 5px;
		}
	}
	&__right {
		display: flex;
		align-items: center;
	}
	&__link {
		margin-left: 47px;
		font-weight: bold;
		font-size: 16px;
		line-height: 21px;
		color: #000000;
	}
	&__btn {
		margin-left: 41px;
		font-size: 16px;
		width: 171px;
		height: 40px;
	}
}

.menu {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: all 0.7s;
	background: #F9F9F9;
	&__up {
		height: 44px;
		background: #efefef;
	}
	&__menu {
		background: #fff;
	}
}
.menu.active {
	top: 0px;
	visibility: visible;
	opacity: 1;
	z-index: 7777;
	position: relative;
}

@media (max-width: 1200px) {
	.header {
		&__links {
			display: none;
		}
		&__nav {
			display: none;
		}
		&__mob {
			height: 44px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: #EFEFEF;
			position: relative;
			// z-index: 7777;
		}
	}
	.hamburger {
		display: block;
		width: 20px;
		cursor: pointer;
		span {
			display: block;
			height: 2px;
			width: 100%;
			background-color: #383838;
			margin-bottom: 4px;
		}
	}
	.nav__tires_mini {
		margin-left: 0;
	}
	.container__h_m {
		display: flex;
		justify-content: space-between;
	}
	.menu__close {
		cursor: pointer;
	}
	.menu__menu {
		display: flex;
		flex-direction: column;
		span {
			background: #F0F0F0;
			width: 100%;
			height: 1px;
		}
		.nav__btn {
			margin: 17px 0 17px 10px;
			width: 260px;
			height: 48px;
		}
	}
	.menu__link {
		display: block;
		font-size: 16px;
		line-height: 21px;
		color: #000000;
		margin: 14px 0 14px 10px;
	}
	.links_mob {
		display: flex;
		flex-direction: column;
		align-items: start;
		padding: 0;
		span {
			border: 1px solid #F0F0F0;;
			width: 100%;
			height: 1px;
		}
		a {
			display: flex;
			margin: 13px 0 13px 10px;
		}
		img {
			margin-right: 5px;
		}
	}
}
@media (min-width: 1201px) {
	.header {
		&__mob {
			display: none;
		}
	}
	.hamburger {
		display: none;
	}
	.menu.active {
		visibility: hidden;
	}
}

@media (min-width: 768px) {
	.nav {
		&__link:hover {
			color: $second-color;
			transition: all .3s;
		}
		&__tires:hover {
			color: $second-color;
			transition: all .3s;
		}
	}
	.links__auto:hover, .links__actions:hover {
		color: $second-color;
		transition: all .3s;
	}
}

@media (max-width: 576px) {
	.nav__tires2 {
		display: none;
	}
	.nav__tires3 {
		display: block;
		text-align: center;
		margin: 10px 0 10px;
	}
}

@media (min-width: 577px) {
	.nav__tires3 {
		display: none;
	}
}