.map {
	margin-top: 30px;
	// transition: 0.3s all;
	&__block {
		background: linear-gradient(279.13deg, #f9edec -0.93%, #f3f4fd 65.94%);
		border: 1px solid #f0f0f0;
		border-radius: 6px;
		// transition: 0.7s all;
	}
	&__blocks {
		display: flex;
		justify-content: space-between;
	}
	&__left {
		padding-left: 50px;
	}
	&__title {
		padding-top: 39px;
		font-weight: bold;
		font-size: 24px;
		line-height: 36px;
	}
	&__btn {
		margin-top: 30px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $third-color;
		width: 196px;
		height: 40px;
		font-size: 18px;
		line-height: 22px;
		border: 1px solid $third-color;
		border-radius: 6px;
		animation-name: fade;
		animation-duration: 1s;
		transition: 0.7s all;
		&_close {
			display: none;
			animation-name: fade;
			animation-duration: 1s;
			transition: 0.7s all;
		}
		// &_open {
		// }
	}
	&__input {
		// cursor: pointer;
		padding-left: 50px;
		// margin-top: 30px;
		display: flex;
		display: none;
		align-items: center;
		input {
			cursor: pointer;
			margin-right: 8px;
			width: 20px;
			height: 20px;
		}
		label {
			cursor: pointer;
			margin-right: 35px;
			font-size: 18px;
			line-height: 30px;
			color: #383838;
		}
	}
	&__msk {
		display: none;
		// animation-name: fade;
		// animation-duration: 1s;
		// transition: 0.2s all;
		// background: linear-gradient(279.13deg, #f9edec -0.93%, #f3f4fd 65.94%);
		// display: none;
		// margin: 0 auto;
		// margin-top: 26px;
		margin: 26px auto 42px;
		padding: 0 50px;
		// padding-right: 50px;
		// width: 100%;
		// text-align: center;
		ymaps {
			// margin: 26px auto 42px;
			margin: auto;
			// animation-name: fade;
			// animation-duration: 1s;
			transition: 0.3s all;
		}
	}
	// &__wrap {
	// 	// padding: 0 50px;
	// }
	&__spb {
		display: none;
		// // 	// margin: 0 auto;
		// // 	// margin-top: 26px;
		margin: 26px auto 42px;
		padding: 0 50px;
		// // 	// text-align: center;
		ymaps {
			transition: 0.3s all;
			margin: auto;
		}
	}
}

@media (max-width: 1200px) {
	.map {
		&__left {
			padding-left: 23px;
		}
		&__input {
			padding-left: 23px;
		}
		&__title {
			padding-top: 20px;
			font-weight: bold;
			font-size: 18px;
			line-height: 28px;
		}
		&__msk {
			padding: 0 23px;
		}
		&__spb {
			padding: 0 23px;
		}
	}
}

@media (max-width: 767px) {
	.map {
		&__title {
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
		}
		// &__img {
		// 	img {
		// 		// ! временно отключил так как картинка кривая в макете и происходит ужас если ее добавлять
		// 		// display: none;
		// 	}
		// }
		&__btn {
			margin: 35px 0 22px;
			width: 180px;
			height: 38px;
			font-size: 16px;
			line-height: 22px;
		}
	}
}
@media (max-width: 576px) {
	.map {
		background: linear-gradient(279.13deg, #f9edec -0.93%, #f3f4fd 65.94%);
		&__left {
			padding-left: 0;
		}
		&__input {
			padding-left: 0;
			input {
				width: 16px;
				height: 16px;
			}
			label {
				font-size: 14px;
				line-height: 25px;
			}
		}
		&__msk {
			padding: 0;
		}
		&__spb {
			padding: 0;
		}
	}
}
