@import "_mynormalize";
@import "_variables";
@import "_animations";

.container {
	position: relative;
	width: 1140px;
	margin: 0 auto;
}

body {
	position: relative;
}

body.lock {
	overflow: hidden;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	// margin: 50px auto 0;
	color: white;
	width: 294px;
	height: 50px;
	border-radius: 6px;
	font-size: 18px;
	line-height: 22px;
	// letter-spacing: 0.05em;
	background-color: $second-color;
}

@import "_header";
@import "_main";
@import "_benefit";
@import "_registr";
@import "_causes";
@import "_manager";
@import "_map";
@import "_tarif";
@import "_slider";
@import "_questions";
@import "_footer";

@import "_media";
